* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'BeVietnamPro-Regular';
  src: url(resources/BeVietnamPro-Regular.ttf);
}
@font-face {
  font-family: 'BeVietnamPro-SemiBold';
  src: url(resources/BeVietnamPro-SemiBold.ttf);
}

body {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 40px;
}

p {
  font-family: 'BeVietnamPro-Regular';
  font-size: 16px;
  color: #52525a;
}

header {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  width: 506px;
}

header > h1 {
  font-family: 'BeVietnamPro-SemiBold';
  font-size: 32px;
}

main {
  border-radius: 16px;
  background-color: #f3f4f6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding: 24px;
  grid-template-areas:
    'section1 section1 section2 section2 section3 section3'
    'section4 section4 section4 section5 section5 section5';
}

section {
  border-radius: 16px;
  background-color: #ffffff;
  padding: 32px;
}

section > h3 {
  font-family: 'BeVietnamPro-SemiBold';
  font-size: 20px;
}

.section1,
.section2,
.section3 {
  min-width: 368px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section1 img,
.section2 img,
.section3 img {
  align-self: center;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

.section3 {
  grid-area: section3;
}

.section4 {
  grid-area: section4;
}

.section5 {
  grid-area: section5;
}

.section4,
.section5 {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  gap: 24px;
}

.section4 > .smallHeading,
.section5 > .smallHeading {
  grid-area: 1/1/2/2;
  align-self: end;
}

.section4 > .bodyText,
.section5 > .bodyText {
  grid-area: 2/1/3/2;
}

.section4 > img,
.section5 > img {
  grid-area: 1/2/3/2;
}
