* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'BeVietnamPro-Regular';
  src: url(resources/BeVietnamPro-Regular.ttf);
}
@font-face {
  font-family: 'BeVietnamPro-SemiBold';
  src: url(resources/BeVietnamPro-SemiBold.ttf);
}

body {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 40px;
}

p {
  font-family: 'BeVietnamPro-Regular';
  font-size: 16px;
  color: #52525a;
}

header {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  max-width: 506px;
}

header > h1 {
  font-family: 'BeVietnamPro-SemiBold';
  font-size: 32px;
}

main {
  border-radius: 16px;
  background-color: #f3f4f6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'section1 section1 section2 section2 section3 section3'
    'section4 section4 section4 section5 section5 section5';
  gap: 24px;
  padding: 24px;
}

.section {
  border-radius: 16px;
  background-color: #ffffff;
  padding: 32px;
}

.section > h3 {
  font-family: 'BeVietnamPro-SemiBold';
  font-size: 20px;
}

.section1,
.section2,
.section3 {
  min-width: 368px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section img {
  align-self: center;
}

.section1 img,
.section3 img {
  order: 3;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

.section3 {
  grid-area: section3;
}

.section4 {
  grid-area: section4;
}

.section5 {
  grid-area: section5;
}

.section4,
.section5 {
  display: grid;
  grid-template-columns: 1fr auto;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas:
    'smallHeading img'
    'bodyText img';
  align-items: start;
  gap: 24px;
}

.section4 > .smallHeading,
.section5 > .smallHeading {
  grid-area: smallHeading;
  align-self: end;
}

.section4 > .bodyText,
.section5 > .bodyText {
  grid-area: bodyText;
}

.section4 > img,
.section5 > img {
  grid-area: img;
}

@media (max-width: 1024px) /* and (min-width: 641px) */ {
  body {
    padding: 0px 26px;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'section1 section2'
      'section3 section3'
      'section4 section4'
      'section5 section5';
  }

  .section3 {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'smallHeading img'
      'bodyText img';
    align-items: start;
    gap: 24px;
  }

  .section3 > .smallHeading {
    grid-area: smallHeading;
    align-self: end;
  }

  .section3 > .bodyText {
    grid-area: bodyText;
  }

  .section3 > img {
    grid-area: img;
  }

  .section4 {
    grid-template-areas:
      'img smallHeading'
      'img bodyText';
  }
}

@media (max-width: 640px) {
  body {
    padding: 0px 12px;
  }

  header {
    margin: 40px 0;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      'section1'
      'section2'
      'section3'
      'section4'
      'section5';
  }

  .section {
    display: flex;
    flex-direction: column;
  }

  .section img {
    order: 0;
  }
}
